* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

.content {
  padding-inline: 6rem;
  padding-block: 3rem;
}

/* Fonts */

.p-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgb(104, 104, 104);
  font-style: normal;
  font-size: 1rem;
}

.heading-1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(127, 172, 255);
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

.heading-3 {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: rgb(70, 101, 173);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.heading-4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(55, 55, 55);
  font-style: normal;
  font-size: 1.15rem;
}

.nav-text-link {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  display: inline-flex;
  color: rgb(59, 59, 59);
  text-transform: uppercase;
  text-decoration: none;
}

.label {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  display: inline-flex;
  color: rgb(147, 147, 147);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover,
a:focus {
  color: rgb(127, 172, 255);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Navigation */
.navigation {
  padding-inline: 6rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: flex-start;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
  gap: 1rem;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
  gap: 3rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 2.5rem;
}

/* Home */

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 50%;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}

.home-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow: hidden;
 gap: 0.8rem;
  background-color: rgb(246, 246, 246);
  padding: 1.15rem;
  border-radius: 0.8rem;
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.column {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
