* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

.content {
  padding-inline: 6rem;
  padding-block: 3rem;
}

/* Fonts */

.p-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgb(104, 104, 104);
  font-style: normal;
  font-size: 1rem;
}

.heading-1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(127, 172, 255);
  font-size: 3rem;
  letter-spacing: -0.05rem;
}

.heading-3 {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  color: rgb(70, 101, 173);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.heading-4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(55, 55, 55);
  font-style: normal;
  font-size: 1.15rem;
}

.nav-text-link {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  display: inline-flex;
  color: rgb(59, 59, 59);
  text-transform: uppercase;
  text-decoration: none;
}

.label {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  display: inline-flex;
  color: rgb(147, 147, 147);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover,
a:focus {
  color: rgb(127, 172, 255);
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Navigation */
.navigation {
  padding-inline: 6rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: flex-start;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
  gap: 1rem;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
  gap: 3rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 2.5rem;
}

/* Home */

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 50%;
  height: 100%;
  overflow: hidden;
  gap: 1rem;
}

.home-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow: hidden;
  gap: 0.8rem;
  background-color: rgb(246, 246, 246);
  padding: 1.15rem;
  border-radius: 0.8rem;
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  gap: 2rem;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.img-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.img-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.home-image {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}


.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8) translateY(10px);
}

.visible {
  opacity: 1;
  pointer-events: auto;
  animation: bounceIn 0.6s ease-out forwards;
}

.vis-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:2rem;
}

.flower-vis{
      background-color: rgb(133, 190, 98);

}

.cat-vis{
      background-color: rgb(248, 230, 235);
    align-items: center;
    gap: 2rem;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.8) translateY(20px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  70% {
    transform: scale(0.95) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/* breakpoints */

@media (width < 64rem) {
  .two-column {
    display: flex;
    flex-direction: column;
  }
  .header-content {
    width: 100%;
  }
}

@media (width < 36rem) {
.content {
  padding-inline: 2rem;
  padding-block: 2rem;

}
.navigation {
  padding-inline: 2rem;
  padding-top: 2rem;
}

.p-regular {
  font-size: 0.8rem;
}

.heading-1 {
  font-size: 2rem;

}

.heading-3 {
  font-size: 1rem;
}

.heading-4 {
  font-size: 0.9rem;
}

.nav-text-link {
    font-size: 0.8rem;
}

.label {
  font-size: 0.8rem;
}


.left-nav {
  gap: 0.5rem;
}

.right-nav {

  border-radius: 0;
  gap: 1rem;
}

}